body {
    font-family: sans-serif;
    background-color: rgb(50, 189, 175);
    color: white;
}

nav {
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}
